# ---------------------------------------------*-yaml-*------------------------------------------- #
# File:    .clang-tidy
# Author:  Kelly Thompson <kgt@lanl.gov>
# Date:    Friday, Feb 18, 2022, 07:08 am
# Purpose: Configurations settings for clang-tidy
# Note:    Copyright (C) 2022 Triad National Security, LLC., All rights reserved.
#
# Recommneded settings are borrowed from
# https://github.com/cpp-best-practices/cpp_starter_project/blob/main/.clang-tidy which recommends
# that we enable this list of checks (but our code isn't ready):
#
# hicpp-*
# readability-*
# cppcoreguidelines-*
# cert-*
# bugprone-*
# concurrency-*
#
# How checks are set:
#
# * line 1: '*' enables all checks
# * next lines: -check-* disables whole groups of checks
# * next lines: -check-full-name disables more specific checks from group previously enabled.
# * next lines: check-full-name enables specific checks for groups that are disabled.
#
# Trying to add hicpp-*
# ------------------------------------------------------------------------------------------------ #

---
Checks: "*,
        -abseil-*,
        -altera-*,
        -android-*,
        -bugprone-*,
        -cert-*,
        -concurrency-*,
        -cppcoreguidelines-*,
        -fuchsia-*,
        -google-*,
        -llvm*,
        -readability-*,
        -zircon-*,
        -hicpp-braces-around-statements,
        -hicpp-vararg,
        -misc-definitions-in-headers,
        -misc-non-private-member-variables-in-classes,
        -misc-no-recursion,
        -modernize-use-trailing-return-type,
        -portability-simd-intrinsics,
        bugprone-argument-comment,
        bugprone-assert-side-effect,
"
WarningsAsErrors: ''
HeaderFilterRegex: '.*[.]hh'
HeaderFilterRegex: '.*[.]hh'
FormatStyle:     none
